/*variables*/
:root {
    --marronOscuro: #d6948c;
    --marronClaro: #e8b5b1;
    --rosaFuerte: #b8071f;
    --rosaMedio: #ffb5c0;
    --rosaBajo: #ffdbe0;
    --rosaPalido: #fff5f5;
    --calidBg: #994949;
    --oldPink: #f8b7c2;
  }

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
    cursor: url(/resources/cursor2.png), auto;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Milonga', cursive;
    background-color: var(--calidBg);
    display: flex;
    justify-content: center;
    align-items: center;  
}

/*GENERAL CONTAINER    contiene al árbol y a la calculadora*/
.itemTree {
    display: flex;
    justify-content: center;
}
.tree{
    width: 100px;
}

/* ÁREA DE LA CALCULADORA*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin: 0;
    gap:5px;
    width: 280px;
    border-radius: 10px;
    background-color: var(--rosaPalido);
}

/*ITEMS*/
.grid-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

/*SUB CLASE DE ITEM: BOTONES*/
.button{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50%;
    outline: none;
    cursor:-moz-zoom-out;
    background-color: var(--oldPink);
    color:var(--rosaPalido);
    justify-self: center;
}
.button:hover{
    background-color: var(--rosaFuerte);
    transition: 0.3s;
}

/*FLOR*/
.itemSakura{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    padding: 0;
    margin: 0;
    transform: rotate(-22deg);
}
.sakura:hover{
    transform: rotate(-100deg);
}
.sakura{
    width: 80px;
    margin-left: -30px;
    margin-bottom: -10px;
}

/*RAMA*/
.itemBranch {
    display: flex;
    justify-content: end;
    padding: 0;
    margin: 0;
    grid-column-start: 3;
    grid-column-end: 5;
}
.branch{
    width: 80px;
    transform:  scaleX(-1);
    margin-right: -10px;
}

/*VISUALIZADORES*/
.itemVisAct, .itemVisAnt{
    padding: 15px 10px;
    border-radius: 10px;
    background-color: var(--rosaBajo);
    justify-content: start;
    align-self: center;
    color: var(--rosaFuerte);
    font-size: 1.4rem;
}
.itemVisAnt {
    grid-column-start: 1;
    grid-column-end: 5;
}
.itemVisAct {
    grid-column-start: 1;
    grid-column-end: 3;
}


